<h2>Add product</h2>
<%=form_with model: @product do |form| %>
  <% @product.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
