<%= image_tag @product.image, width: "200px" if @product.image.attached? %>
<h1><%= @product.title %></h1>
<p> <%= @product.description %></p>
<h3>$ <%= @product.price %></h3>
<%= link_to t(".edit"), edit_product_path(@product) %>
<%= link_to t(".delete"), product_path(@product), data: { turbo_method: :delete, turbo_confirm: t('common.confirm') } %>
